server:
  port: 10087
  mode: debug

mysql:
  host: "127.0.0.1"
  port: 3306
  db: "user"
  username: "root"
  password: "123456"
  debug: true

redis:
  host: "127.0.0.1"
  port: 6379
  db: 0
  password: ""

log:
  filename: /tmp/article.log
  maxSize: 500
  maxBackups: 3
  maxAge: 3
  level: "debug"